---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Pagina nu exista | AerConditionatOferte.ro" description="Pagina cautata nu a fost gasita.">
  <div data-notfound>
    <h1>404</h1>
    <p>Pagina cautata nu exista sau a fost mutata.</p>
    <a href="/">Inapoi acasa</a>
  </div>
</Layout>
